<% layout('./layouts/boilerplate') %> 
<div class="row breweryDetails">

  <div class="col-lg-6 imgBox">
    <img src="<%= brewery.image %>" alt="Brewery Image">
  </div>

  <div class="col-lg-6">
    <h1 class="detailsHeader"><%= brewery.name %></h1>
    <hr>
    <h4 class="detailsDescription"><em><%= brewery.description %></em></h4>
    
    <ul class="list-group">
        <li class="list-group-item">Price of a Pint: $<%= brewery.price %></li>
        <li class="list-group-item">Location: <%= brewery.location %></li>
    </ul>
    
    <a class="btn btn-dark" href="/breweries/<%= brewery._id %>/edit" role="button">Edit</a>
    <form class="d-inline" action="/breweries/<%= brewery._id %>?_method=DELETE" method="POST" class="form-inline">      
      <button type="submit" class="btn btn-outline-danger cancelBtn"><b>x</b></button>
    </form>
  </div>
  
</div>

